body, html {
    margin: 0 0 0 0;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

#home-navigation a {
    color: white;
}

#drpdown-menu a {
    color: black;
}


#col-school-logo {
    background-image: url(../images/sch-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 100%;

}

#bg-title {
    margin: 40px auto 80px auto;
    color: white;
    text-align: center;
    font-size: 75px;
    font-family: 'Merriweather', serif;
    text-shadow: 10px 10px 10px black;
}

#home-btn {
    position: absolute;
    top: 70%;
    left: 46%;
    transition: opacity 1s ease, box-shadow 0.5s, padding 0.5s;
}

#home-btn button:hover {
    box-shadow: 5px 5px 5px black;
    padding: 10px 10px 10px 10px;
    opacity: 0.8;
}


#news-head {
    font-size: 54px;
    margin-bottom: 5px;
    margin-top: 20px;
}

#news-h1 {
    font-size: 60px;
    font-weight: 800;
    font-family: 'Merriweather', serif;
    margin-top: 50px;
}

#news-descrip {
    font-size: 30px;
}


.news-inline {
    position: absolute;
    float:right;
}

.carousel-item-active {
    box-shadow: inset 50px 0px 10px 10px black;
}



#news-headlines1{
    margin-top: 40px;
    margin-bottom: 40px;
}


.card{
    margin-top: 20px;
}

#news-card-1 {
    margin-bottom: 100px;
    border-radius: 15px;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out
}

#news-card-1:hover{
    background-color:#0c3483;
    color: white;
}

#news-card-2 {
    margin-bottom: 100px;
    border-radius: 15px;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
}

#news-card-2:hover{
    background-color:#0c3483;
    color: white;
}

#news-card-3 {
    margin-bottom: 100px;
    border-radius: 15px;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
}

#news-card-3:hover{
    background-color:#0c3483;
    color: white;
}

#news-btn {
    margin-right: auto;
    margin-left: auto;
}


#tracks-strands img{
    margin: 20px 20px 20px 0;
}

#tracks-strands h1{
    font-family: 'Merriweather', serif;
    font-weight: 800;
    font-size: 60px;
    margin-top: 50px;
}


#tvl-subtitle, #stem-subtitle,
#humss-subtitle, #abm-subtitle {
    text-shadow: 5px 5px 10px black;
}

#tvl-description, #stem-description,
#abm-description, #humss-description {
    text-shadow: 3px 3px 10px black;
}


#offerings-subtitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}

.enrollment-process h1 {
    font-family: 'Merriweather', serif;
    font-weight: 800;
    font-size: 60px;
    margin-top: 50px;
}

#enrollment-subtitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}

#contacts {
    background-color: #073b4c;
    color: whitesmoke;
    text-align: center;
}

#contacts h1{
    font-family: 'Merriweather', serif;
    font-weight: 800;
    font-size: 40px;
    margin-top: 20px;
}

#contacts p {
    margin-left: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}



/* REGISTRATION.HTML CSS */


.reg-title {
    text-align: center;
}

.register-page {
    background-image: url("../images/school-bg-blurred.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.reg-box {
    grid-template-rows: 1fr 1fr 1fr;
    border: 1px solid black;
    border-radius: 10px 10px;
    margin: 100px 20% 20% 20%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 20px 20px 20px;
}

/* LOGIN-REDIRECT */

#portal-redirect-body {
    background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
}

#login-redirect-title {
    font-family: 'Merriweather', serif;
    color: white;
    font-weight: 800;
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-shadow: 5px 5px 10px black;
}

#login-redirect a {
    text-decoration: none;
    color: inherit;
}

#redirect-announcements,
#redirect-dashboard,
#redirect-info,
#redirect-modules,
#redirect-sched,
#redirect-grades {
    margin-bottom: 100px;
    border-radius: 15px;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out
}

#redirect-announcements:hover {
    background-color:#0c3483;
    color: white;
}
#redirect-dashboard:hover {
    background-color:#0c3483;
    color: white;
}
#redirect-info:hover {
    background-color:#0c3483;
    color: white;
}
#redirect-modules:hover {
    background-color:#0c3483;
    color: white;
}
#redirect-sched:hover {
    background-color:#0c3483;
    color: white;
}
#redirect-grades:hover {
    background-color:#0c3483;
    color: white;
}





/* PORTAL-HOME.HTML CSS */



#dashboard-header-card {
    border-radius: 15px;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    height: 100%;
}

#dashboard-grades {
    border-radius: 15px;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
}

#dashboard-student-info {
    border-radius: 15px;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
}

#dashboard-grades2 {
    border-radius: 15px;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
}

html {
    height: 100%;
}

body {
    height: 100%;
}

#post-cards {
    margin-bottom: 0;
    border-radius: 15px;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
}

.w-70 {
    width: 70%;
}

.w-95 {
    width: 95%;
}

.w-45 {
    width: 45%;
}

.w-35 {
    width: 35%;
}

.portal-bg {
    background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;

}

#portal-menu {
    background-color: #03045e;
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
}

#portal-menu a {
    text-decoration: none;
    color: whitesmoke;   
}

#portal-menu ul {
    list-style: none;
}

#portal-menu h2 {
    margin-bottom: 50px;
    margin-top: 50px;
    font-family: 'Merriweather', serif;
}







/* PORTAL GRADES */

#portal-grades-row1 {
    height: 100%;
    display: flex;
}

#portal-grades-col1 {
    height: 100%;
}

#portal-info-row1 {
    height: 100%;
    display: flex;
}

#portal-announcements-row1 {
    height: 100%;
    display: flex;
}

#portal-sched-row1 {
    height: 100%;
    display: flex;
}