body, html {
    margin: 0 0 0 0;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

#home-navigation a {
    color: white;
}

#drpdown-menu a {
    color: black;
}


#col-school-logo {
    background-image: url(../images/sch-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 100%;

}

#bg-title {
    margin: 40px auto 80px auto;
    color: white;
    text-align: center;
    font-size: 75px;
    font-family: 'Merriweather', serif;
    text-shadow: 10px 10px 10px black;
}

#home-btn {
    position: absolute;
    top: 70%;
    left: 46%;
    transition: opacity 1s ease, box-shadow 0.5s, padding 0.5s;
}

#home-btn button:hover {
    box-shadow: 5px 5px 5px black;
    padding: 10px 10px 10px 10px;
    opacity: 0.8;
}


#news-head {
    font-size: 54px;
    margin-bottom: 5px;
    margin-top: 20px;
}

#news-h1 {
    font-size: 60px;
    font-weight: 800;
    font-family: 'Merriweather', serif;
    margin-top: 50px;
}

#news-descrip {
    font-size: 30px;
}


.news-inline {
    position: absolute;
    float:right;
}

.carousel-item-active {
    box-shadow: inset 50px 0px 10px 10px black;
}



#news-headlines1{
    margin-top: 40px;
    margin-bottom: 40px;
}


.card{
    margin-top: 20px;
}

#news-card-1 {
    margin-bottom: 100px;
}

#news-card-2 {
    margin-bottom: 100px;
}

#news-card-3 {
    margin-bottom: 100px;
}

#news-btn {
    margin-right: auto;
    margin-left: auto;
}


.tracks-strands img{
    margin: 20px 20px 20px 20px;
}

.tracks-strands h1{
    font-family: 'Merriweather', serif;
    font-weight: 800;
    font-size: 60px;
    margin-top: 50px;
}

.tracks-strands {
    
}

#stem-subtitle {
    text-shadow: 5px 5px 10px black;
}

#humss-subtitle {
    text-shadow: 5px 5px 10px black;
}

#abm-subtitle {
    text-shadow: 5px 5px 10px black;
}

#tvl-subtitle {
    text-shadow: 5px 5px 10px black;
}

#offerings-subtitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}

.enrollment-process h1 {
    font-family: 'Merriweather', serif;
    font-weight: 800;
    font-size: 60px;
    margin-top: 50px;
}

#enrollment-subtitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}

.contacts {
    background-color: #073b4c;
    color: whitesmoke;
}

.contacts h1{
    font-family: 'Merriweather', serif;
    font-weight: 800;
    font-size: 40px;
    margin-top: 20px;
}

.contacts p {
    margin-left: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}











/* REGISTRATION.HTML CSS */


.reg-title {
    text-align: center;
}

.register-page {
    background-image: url("../images/school-bg-blurred.jpg");
    background-repeat:no-repeat;
    background-size: cover;
}

.reg-box {
    grid-template-rows: 1fr 1fr 1fr;
    border: 1px solid black;
    border-radius: 10px 10px;
    margin: 100px 20% 20% 20%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 20px 20px 20px;
}
/* PORTAL-HOME.HTML CSS */



#dashboard-header {
    height: 100%;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

#announcement-card {
    margin-bottom: 0;
}

.w-70 {
    width: 70%;
}

.w-95 {
    width: 95%;
}

.w-45 {
    width: 45%;
}

.w-35 {
    width: 35%;
}

#portal-home-bg, #portal-home-bg2 {
    background-color: #caf0f8;
}

#portal-menu {
    background-color: #03045e;
    color: whitesmoke;
}

#portal-menu a {
    text-decoration: none;
    color: whitesmoke;   
}

#portal-menu ul {
    list-style: none;
}

#portal-menu h2 {
    margin-bottom: 50px;
    margin-top: 50px;
}






/* PORTAL GRADES */

