body {
    margin: 0 0 0 0;
}

#home-navigation a {
    color: white;
}

#drpdown-menu a {
    color: black;
}



#home-bg {
    object-fit: cover;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

#home-btn {
    position: absolute;
    top: 70%;
    left: 46%;
    transition: opacity 1s ease, box-shadow 0.5s, padding 0.5s;
}

#home-btn button:hover {
    box-shadow: 5px 5px 5px black;
    padding: 10px 10px 10px 10px;
    opacity: 0.8;
}


#news-head {
    font-size: 54px;
    margin-bottom: 5px;
    margin-top: 20px;
}


.card{
    margin-top: 20px;
    box-shadow: 5px 5px 40px black;
}


.tracks-strands img{
    margin: 20px 20px 20px 20px;
    border: 2px solid black;
}



/* REGISTRATION.HTML CSS */


.reg-title {
    text-align: center;
}

.register-page {
    background-image: url("../images/school-bg-blurred.jpg");
    background-repeat:no-repeat;
    background-size: cover;
}

.reg-box {
    grid-template-rows: 1fr 1fr 1fr;
    border: 1px solid black;
    border-radius: 10px 10px;
    margin: 100px 20% 20% 20%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 20px 20px 20px;
}
/* PORTAL-HOME.HTML CSS */



#dashboard-header {
    height: 100%;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

#announcement-card {
    margin-bottom: 0;
}

.w-80 {
    width: 80%;
}

.w-30 {
    width: 30%;
}



/* PORTAL GRADES */

