<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>SJLSHS MAPS</title>

    <link rel='stylesheet' href="{% static 'CSS/bootstrap-5.2.2-dist/bootstrap-5.2.2-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/design.css' %}">  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
        
    
    
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-primary sticky-top" id="home-navigation">
        <div class="container-fluid">
          <a href="{% url 'home'%}" class="navbar-brand">
            SJLSHS</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Faculty and Staff</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Students
                </a>
                <ul class="dropdown-menu" id="drpdown-menu">
                  <li><a class="dropdown-item" href="#">Student Enrollment</a></li>
                  <li><a class="dropdown-item" href="#">Academic Offerings</a></li>
                  <li><hr class="dropdown-divider"></li>
                  {% if user.is_authenticated %}
                  <li><a class="dropdown-item" href="{% url 'login-redirect' %}">Student Portal</a></li>
                  {% else %}
                  <li><a class="dropdown-item" href="{% url 'signup' %}">Student Portal</a></li>
                  {% endif %}
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link">About</a>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
              </li>
              {% endif %}
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    {% block content %}
        replace me
    {% endblock content %}

    
    <script src="{% static 'CSS\bootstrap-5.2.2-dist\bootstrap-5.2.2-dist\js\bootstrap.bundle.js' %}"></script>
</body>
</html>