
<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
<head>
    <title>SJLSHS Portal</title>
</head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row" id="row-2-school-logo">
            <div class="col" id="col-school-logo">
                <img class="mx-auto d-block" src="{% static 'images/sjlshs_croppedV4.png'%}">
                <h1 id="bg-title">San Jose Litex Senior High School</h1>
            </div>
        </div>
        <div class="row">
          <bold><h1 class="text-center" id="news-h1">School News</h1></bold>
          <p class="text-center" id="news-descrip">Stories about the school, its clubs, and students</p>
          <div class="col-xl-4 col-xs-6">
            <div class="card w-75 mx-auto" id="news-card-1">
              <img src="{% static 'images/galaw-pilipinas.jpg'%}" class="card-img-top" id="news-card-img1" style="object-fit: contain;">
              <div class="card-body">
                <h5 class="card-title">Galaw Pilipinas Day</h5><hr>
                <p class="card-text">On some day, the students of SJLSHS danced to Galaw Pilipinas</p>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-xs-6">
            <div class="card w-75 mx-auto" id="news-card-2">
              <img src="{% static 'images/un-pageant.jpg'%}" class="card-img-top img-fluid" id="news-card-img">
              <div class="card-body">
                <h5 class="card-title">United Nations Pageant</h5><hr>
                <p class="card-text">On some day, the students of SJLSHS danced to Galaw Pilipinas</p>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-xs-6">
            <div class="card w-75 mx-auto" id="news-card-3">
              <img src="{% static 'images/bkd-week.jpg'%}" class="card-img-top img-fluid" id="news-card-img">
              <div class="card-body">
                <h5 class="card-title">Barkada Kontra Droga Week</h5><hr>
                <p class="card-text">On some day, the students of SJLSHS danced to Galaw Pilipinas</p>
              </div>
            </div>
          </div>
          <div class="row gx-0" id="student-portal">
            <div class="col">

            </div>
            <div class="col-lg-5 col-sm-12">
              <div class="portal-box">
                <div class="reg-title">
                    <img src="{%static 'images/Student_Portal-removebg-preview.png'%}" class="img-fluid">
                </div>
                <div class="portal-info">
                  <p class="text-center">The SJLSHS M.A.P.S is especially created for students like you.
                      The portal is a repository of information where students can view
                      their education-related info such as grades, modules, schedules, personal information
                      , and teacher announcements</p>
                  {% if user.is_authenticated %}
                  <a href="{% url 'login-redirect'%}"><button class="btn btn-primary mx-auto d-block" id="btn-portal">Go to M.A.P.S</button></a>
                  {% else %}
                  <a href="{% url 'signup'%}"><button class="btn btn-primary mx-auto d-block" id="btn-portal2">Go to M.A.P.S</button></a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          
          
        <div class="row gx-0" id="tracks-strands">
                <bold><h1 class="text-center">Academic Offerings</h1></bold>
                <p class="text-center" id="offerings-subtitle"=>Discover the tracks and strands offered by the school</p>
                <div class="card w-100 mx-auto text-white bg-dark">
                  <div class="row g-0">
                    <div class="col-md-3">
                      <img src="{% static 'images/stem_strand_resized.png'%}" class="img-fluid mx-auto d-block" alt="...">
                    </div>
                    <div class="col-md-9">
                      <div class="card-body">
                        <h1 class="card-title text-center" id="stem-title">STEM</h1><hr>
                        <p class="card-text text-center">The STEM strand is a great place to start when you're looking for a career in science.
                          The STEM strand is focused on the study of science and its related subjects, like math, technology and engineering. 
                          It also includes coursework that can help prepare you for college-level science classes, like chemistry, physics and biology.
                          The STEM strand gives you an opportunity to develop your critical thinking, problem-solving and communication skills. 
                          You'll learn how to apply those skills in the classroom and workplace.
                          You'll have opportunities to work with professionals in the field of science so you can gain insights into how they do their jobs.</p>
                          <a href="{% url 'login-redirect'%}"><button class="btn btn-primary mx-auto d-block" id="btn-portal">Learn More</button></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card w-100 mx-auto text-white" id="tracks-card1">
                  <div class="row g-0">
                    <div class="col-md-9">
                      <div class="card-body">
                        <h1 class="card-title text-center" id="abm-title">ABM</h1><hr>
                        <p class="card-text text-center">Students in an accountancy and business management (ABM) strand can learn a wide range of skills
                           and knowledge that are relevant to careers in finance, business administration, and related fields. 
                          Also, students in an ABM strand may also develop skills in areas such as critical thinking, problem-solving, communication, and teamwork.
                           These skills can be useful in a variety of career paths, including in finance, business administration, and related fields. 
                        </p>
                        <a href="{% url 'login-redirect'%}"><button class="btn btn-primary mx-auto d-block" id="btn-portal">Learn More</button></a>
                      </div>
                    </div>
                      <div class="col-md-3">
                        <img src="{% static 'images/abm_track.png'%}" class="img-fluid mx-auto d-block" alt="...">
                      </div>
                  </div>
                </div>
                <div class="card w-100 mx-auto text-white bg-dark">
                  <div class="row g-0">
                    <div class="col-md-3">
                      <img src="{% static 'images/humss_strand.png'%}" class="img-fluid mx-auto d-block" alt="...">
                    </div>
                    <div class="col-md-9">
                      <div class="card-body">
                        <h1 class="card-title text-center" id="humss-title">HUMSS</h1><hr>
                        <p class="card-text text-center">The humanities are a broad field of study that includes a range of disciplines that explore the human experience, including history, literature, philosophy, art, music, and culture
                          In the HUMSS strand, students will learn about the history and development of different cultures and societies, and the ways in which these cultures have influenced and been influenced by art, literature, and other forms of human expression. They might will study the ideas and theories of philosophers, and explore the ways in which these ideas have shaped and continue to shape our understanding of the world.
                        </p>
                        <a href="{% url 'login-redirect'%}"><button class="btn btn-primary mx-auto d-block" id="btn-portal">Learn More</button></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card w-100 mx-auto text-white" id="tracks-card2">
                  <div class="row g-0">
                    <div class="col-md-9">
                      <div class="card-body">
                        <h1 class="card-title text-center" id="tvl-title">TVL</h1><hr>
                        <p class="card-text text-center">The Technical-Vocational Livelihood strand is designed to provide students with the technical skills and knowledge needed for careers in various technical and vocational fields, as well as to provide students with the necessary foundation for entrepreneurship.
                          TVL offers different specialized tracks such as Information and Communications Technology (ICT), Shielded Metal Arc Welding (SMAW),
                          Home Economics, and Automotive. Students in the TVL strand may also have the opportunity to learn about entrepreneurship, which involves starting and running a business. This can include topics such as business planning, marketing, and financial management.
                        </p>
                        <a href="{% url 'login-redirect'%}"><button class="btn btn-primary mx-auto d-block" id="btn-portal">Learn More</button></a>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <img src="{% static 'images/tvl_track.png'%}" class="img-fluid mx-auto d-block" alt="...">
                    </div>
                  </div>
                </div>
        </div>
        <div class="container-fluid">
            <div class="row">
              <bold><h1 class="text-center" id="sch-orgs-head">School Organizations</h1></bold>
              <p class="text-center" id="sch-orgs-subtitle">Join the campus life</p>
            </div>
              <div class="row gx-0">
                <div class="row gx-0">
                  <figure class="hover-img mx-auto d-block" id="club1">
                    <img src="{%static 'images/ssg-photo.jpg'%}" class="img-fluid d-block mx-auto">
                    <figcaption>
                      <h3>Supreme Student <br/>Government</h3>
                    </figcaption>
                  </figure>
                </div>
                <div class="row gx-0">
                    <figure class="hover-img ml-auto d-block" id="club2">
                      <img src="{%static 'images/ssg-photo.jpg'%}" class="img-fluid">
                      <figcaption>
                        <h3>Supreme Student <br/>Government</h3>
                      </figcaption>
                    </figure>
                    <figure class="hover-img mr-auto d-block" id="club3">
                      <img src="{%static 'images/ssg-photo.jpg'%}" class="img-fluid">
                      <figcaption>
                        <h3>Supreme Student <br/>Government</h3>
                      </figcaption>
                    </figure>
                <div class="row gx-0">
                  <figure class="hover-img ml-auto d-block" id="club4">
                    <img src="{%static 'images/ssg-photo.jpg'%}" class="img-fluid">
                    <figcaption>
                      <h3>Supreme Student <br/>Government</h3>
                    </figcaption>
                  </figure>
                  <figure class="hover-img mr-auto d-block" id="club5">
                    <img src="{%static 'images/ssg-photo.jpg'%}" class="img-fluid">
                    <figcaption>
                      <h3>Supreme Student <br/>Government</h3>
                    </figcaption>
                  </figure>
                </div>
      
                  
                </div>
              </div>
        </div>
        
        <div class="row gx-0">
          <div class="enrollment-process">
            <bold><h1 class="text-center">Enrollment</h1></bold>
            <p class="text-center" id="enrollment-subtitle">Learn how to be a part of the Litexian community</p>
            <img src="{% static 'images/enrollment-process.jpg' %}" class="img-fluid">
          </div>
        </div>

        <div class="row gx-0">
          <div class="row">
            <div class="about-school">
            </div>
          </div>
          <div class="row gx-0">
            <div class="col-6">
              <img src="{% static 'images/sch-bg.jpg'%}" id="about-school-img" class="img-fluid">
            </div>
            <div class="col-6">
              <bold><h1 class="text-center" id="about-school-h1">The School</h1></bold>
              <p class="text-center" id="about-school-descrip">San Jose Litex Senior High School is a community of students, teachers, 
                and parents who are committed to providing our students with the tools they need to be successful in life.
                Our mission is to prepare students for success in school and beyond. We believe that learning should be fun, engaging, 
                and challenging—not just something you do because it's required. We want every student to graduate from high school with
                a solid foundation of knowledge about themselves, their world, and their future. We believe that education is not something
                 you do once but rather something that happens every day throughout your entire life. 
                 It's a constant process of learning new things, growing as a person, and understanding how the world works around us. 
                 This is why SJLSHS works hard to ensure that learning is achieved.
              </p>
            </div>
          </div>
        <div class="row gx-0" id="contacts">
            <h1 class="text-center">Contacts</h1>
            <div class="col-4">
              <p>School ID: 342566</p>
              <p>Registrar Number: 123456789</p>
            </div>
            <div class="col-4">
              <p>Principal Number: 0123456789</p>
            </div>
            <div class="col">
              <p>Principal Number: 0123456789</p>
            </div>
        </div>
        </div>
    </div>
    {% endblock %}
</body>