<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
        
    <link  rel='stylesheet' href="{% static 'CSS/bootstrap-5.2.2-dist/bootstrap-5.2.2-dist/css/bootstrap.min.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">   
    <link  rel="stylesheet" href="{% static 'CSS/design.css' %}">
   

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body id="portal-redirect-body">
    <div class="container-fluid" id="login-redirect">
        <div class="row">
            <h1 class="text-center" id="login-redirect-title">SJLSHS Student Portal</h1>
        </div>
        <div class="row">
            <div class="col">
                <a href="{% url 'portal-home'%}">
                <div class="card w-75 mx-auto redirect" id="redirect-dashboard">
                    <div class="card-body">
                        <h1 class="card-title">Dashboard</h1>
                        <p>Quick information about you</p>
                    </div>
                </div>
                </a>
            </div>
            <div class="col">
                <a href="{% url 'portal-announcements'%}">
                <div class="card w-75 mx-auto redirect" id="redirect-announcements">
                    <div class="card-body">
                        <h1 class="card-title">Announcements</h1>
                        <p>View teachers' important announcements</p>
                    </div>
                </div>
                </a>
            </div>
            <div class="col">
                <a href="{% url 'portal-personal'%}">
                <div class="card w-75 mx-auto redirect" id="redirect-info">
                    <div class="card-body">
                        <h1 class="card-title">Student's Master File</h1>
                        <p>See important information about you</p>
                    </div>
                </div>
            </div>
        </a>
        </div>
        <div class="row">
            <div class="col">
                <a href="{% url 'portal-module-redirect'%}">
                <div class="card w-75 mx-auto redirect" id="redirect-modules">
                    <div class="card-body">
                        <h1 class="card-title">Module Repository</h1>
                        <p>Download resource materials</p>
                    </div>
                </div>
                </a>
            </div>
            <div class="col">
                <a href="{% url 'portal-sched'%}">
                <div class="card w-75 mx-auto redirect" id="redirect-sched">
                    <div class="card-body">
                        <h1 class="card-title">Schedule</h1>
                        <p>View your class schedule</p>
                    </div>
                </div>
                </a>
            </div>
            <div class="col">
                <a href="{% url 'portal-grade' %}">
                <div class="card w-75 mx-auto redirect" id="redirect-grades">
                    <div class="card-body">
                        <h1 class="card-title">Student Evaluation</h1>
                        <p>See your academic grades</p>
                    </div>
                </div>
                </a>
            </div>
        </div>
    </div>
    <script src="{% static 'CSS/bootstrap-5.2.2-dist/bootstrap-5.2.2-dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    
</body>
</html>