<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Grades</title>
</head>
<body>
    {% block content%}
    <table>
        {% for Grades1stSem in object_list %}
            {% if user.lrn == Grades1stSem.lrn %}
             <tr>
                <th>PR2</th>
                <th>CPAR</th>
                <th>PE</th>
                <th>SPEC</th>
                <th>UCSP</th>
                <th>PHILO</th>
                <th>EAPP</th>
             </tr>
             <tr>
                <td>{{ Grades1stSem.pr2 }}</td>
                <td>{{ Grades1stSem.cpar}}</td>
                <td>{{ Grades1stSem.pe}}</td>
                <td>{{ Grades1stSem.spec}}</td>
             </tr>
             {% endif %}
        {% endfor %}
    </table>
    {% endblock %}
    
    
</body>
</html>