<!DOCTYPE html>
{% extends 'portal-base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Information</title>
</head>
<body>
    {% block content %}
    <div class="content-wrapper">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center mb-5">Student Master File</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card mb-5">
              <div class="card-header bg-primary text-white">
                Personal Information
              </div>
              <div class="card-body">
                <table class="table table-borderless">
                  <tbody>
                    <tr>
                      <td>Last Name</td>
                      <td>{{ user.last_name }}</td>
                    </tr>
                    <tr>
                      <td>First Name</td>
                      <td>{{ user.first_name }}</td>
                    </tr>
                    <tr>
                      <td>LRN</td>
                      <td>{{ user.lrn }}</td>
                    </tr>
                    <tr>
                      <td>Email</td>
                      <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                      <td>Birthday</td>
                      <td>{{ user.birthday }}</td>
                    </tr>
                    <tr>
                      <td>Age</td>
                      <td>{{ user.age }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card mb-5">
              <div class="card-header bg-primary text-white">
                School-Related Information
              </div>
              <div class="card-body">
                <table class="table table-borderless">
                  <tbody>
                    <tr>
                      <td>Grade Year</td>
                      <td>{{ user.grade_year }}</td>
                    </tr>
                    <tr>
                      <td>Strand</td>
                      <td>{{ user.strand }}</td>
                    </tr>
                    <tr>
                      <td>Section</td>
                      <td>{{ user.section }}</td>
                    </tr>
                    <tr>
                      <td>Room Number</td>
                      <td>{{ user.section.room_num }}</td>
                    </tr>
                    <tr>
                      <td>Section Adviser</td>
                      <td>{{ user.section.section_adviser }}</td>
                    </tr>
                    <tr>
                      <td>Adviser Contact Number</td>
                      <td>{{ user.section.section_adviser.contact_num }}</td>
                    </tr>
                    <tr>
                      <td>Adviser Email</td>
                      <td>{{ user.section.section_adviser.email }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
    </div>
        
    {% endblock %}
    
</body>
</html>