<!DOCTYPE html>
<head>
    <title>SJLSHS-Student Registration</title>
    <link rel="stylesheet" href="../CSS/design.css">
</head>
<body class="portal-bg">
    <div class="portal-grid">
            <div class="row1-nav" id="portal-dashboard-nav">
                <nav id="top">
                    <ul>
                        <a><li>SJLSHS</li></a>
                        <a href="home.html"><li>Home</li></a>
                        <a><li>News</li></a>
                        <a><li>Students</li></a>
                        <div class="drpdwn" id="drpdwn-box">
                            <a><li id="drpdwn-elem">Students</li></a>
                            <div class="drpdwn-content">
                                <a href="#"><li>Student Enrollment</li></a>
                                <a href="#"><li>Academic Offerings</li></a>
                                <a href="registration.html"><li>Student Portal</li></a>
                            </div>
                        </div>
                        <a><li>Faculty & Staff</li></a>
                        <a><li>About</li></a>
                    </ul>
                </nav>
            </div>
        <div class="portal-menu">
            <h1>Menu</h1>
        </div>
        <div class="portal-dashboard">
            <h1>Dashboard</h1>
        </div>
    </div>
</body>
</html>