<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Grades</title>
</head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-2" id="portal-menu">
                <h2 class="text-center">Hello, {{user.first_name}}</h2>
                <ul class="text-center mx-auto">
                  <a href="{% url 'portal-home' %}" class="list-group-item list-group-item-action active" aria-current="true">
                    Dashboard
                  </a>
                  <a href="{% url 'portal-sched' %}" class="list-group-item list-group-item-action">Class Schedule</a>
                  <a href="{% url 'portal-grade'%}" class="list-group-item list-group-item-action">Grades</a>
                  <a href="{% url 'portal-personal' %}" class="list-group-item list-group-item-action">Student Information</a>
                  <a href="{% url 'portal-announcements'%}" class="list-group-item list-group-item-action" tabindex="-1">Announcements</a>
                </ul>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h1>1st Semester Grades</h1>
                        <h3>{{ user.lrn}} - {{ user.last_name}}, {{user.first_name}} ({{user.section}} )</h3>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">PR2</th>
                                    <th scope="col">CPAR</th>
                                    <th scope="col">PE</th>
                                    <th scope="col">SPEC</th>
                                    <th scope="col">UCSP</th>
                                    <th scope="col">PHILO</th>
                                    <th scope="col">EAPP</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ user.GradePost.pr2 }}</td>
                                    <td>{{ user.GradePost.cpar}}</td>
                                    <td>{{ user.GradePost.pe}}</td>
                                    <td>{{ user.GradePost.spec}}</td>
                                    <td>{{ user.GradePost.ucsp}}</td>
                                    <td>{{ user.GradePost.philo}}</td>
                                    <td>{{ user.GradePost.eapp}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
    
    {% endblock %}
    
    
</body>
</html>