<!DOCTYPE html>
{% extends 'portal-base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class Schedule</title>
</head>
<body>
    {% block content %}
    <div class="content-wrapper">

    
            <div class="col">
                {% for sched in object_list %}
                    {% if user.section == sched.section %}
                    <div class="card w-100">
                        <div class="card-body">
                            <h1 class="card-title">Class schedule for {{sched.section}}</h1>
                            <p>Click on the link below to view your class schedule</p>
                            <img src="{{sched.schedule_file.url}}" class="img-fluid" id="sched-image">
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
               
            </div>
        </div>
    </div>
  </div>
   
    {% endblock%}
</body>
</html>