<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
            
            <div class="col">
                <h1>Modules for UCSP</h1>
                {% for module in object_list %}
                    {% if user.grade_year == module.grade and module.section == UCSP  %}
                    <a class="text-center" href="{{module.file.url}}">
                    <div class="card w-25">
                        <div class="card-img-top">
                            <img src="{{module.thumbnail.url}}" class="img-fluid" id="module-book">
                        </div>
                        <div class="card-body">
                            <h3>{{module.title}}</h3>
                        </div>
                    </div>
                    </a>
                    {% endif %}
                {% endfor %}
               
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>