<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Grades</title>
</head>
<body>
    {% block content %}
    <nav class="navbar navbar-expand-lg bg-dark sticky-top" id="home-navigation">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Hello, {{user.first_name}}</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
           data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'portal-home' %}">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'portal-sched' %}">Class Schedule</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'portal-grade' %}">Student Evaluation</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'portal-personal' %}">Student Master File</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'portal-announcements' %}">Announcements</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'portal-module-redirect' %}">Module Repository</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'postman:inbox' %}">Messages</a>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
        
            <div class="col" id="portal-grades-col1">
                <div class="descrip">
                    <h1>Note</h1>
                    <p>In this section, the student can see their grades. Do note that the student's
                         grades are continually updated throughout the school year.<br>
                        This means that the grades visible here are only the grades
                         available up to the current quarter and semester. Other grade forms <br>
                        may be left intentionally blank and are marked as None  </p>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h3>{{user.lrn}} - {{ user.last_name}}, {{user.first_name}} ({{user.section}} )</h3>
                        <h1>1st Semester 1st Quarter Grades</h1>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col" colspan="4" class="text-center">First Semester - 1st Quarter</th>
                                </tr>
                                <tr>
                                    <th scope="col">Subject Description</th>
                                    <th scope="col">Units</th>
                                    <th scope="col">Grading Marks</th>
                                    <th scope="col">Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                        <td>{{user.GradePost.sub1}}</td>
                                        <td>1</td>
                                        <td>{{user.GradePost.grade_sub1}}</td>
                                        <td>N/A</td>
                                    </tr>
                                    <tr>
                                        <td>{{user.GradePost.sub2}}</td>
                                        <td>1</td>
                                        <td>{{user.GradePost.grade_sub2}}</td>
                                        <td>N/A</td>
                                    </tr>
                                    <tr>
                                        <td>{{user.GradePost.sub3}}</td>
                                        <td>1</td>
                                        <td>{{user.GradePost.grade_sub3}}</td>
                                        <td>N/A</td>
                                    </tr>
                                    <tr>
                                        <td>{{user.GradePost.sub4}}</td>
                                        <td>1</td>
                                        <td>{{user.GradePost.grade_sub4}}</td>
                                        <td>N/A</td>
                                    </tr>
                                    <tr>
                                        <td>{{user.GradePost.sub5}}</td>
                                        <td>1</td>
                                        <td>{{user.GradePost.grade_sub5}}</td>
                                        <td>N/A</td>
                                    </tr>
                                    <tr>
                                        <td>{{user.GradePost.sub6}}</td>
                                        <td>1</td>
                                        <td>{{user.GradePost.grade_sub6}}</td>
                                        <td>N/A</td>
                                    </tr>
                                    <tr>
                                        <td>{{user.GradePost.sub7}}</td>
                                        <td>1</td>
                                        <td>{{user.GradePost.grade_sub7}}</td>
                                        <td>N/A</td>
                                    </tr>
                                    <tr>
                                        <td>{{user.GradePost.sub8}}</td>
                                        <td>1</td>
                                        <td>{{user.GradePost.grade_sub8}}</td>
                                        <td>N/A</td>
                                    </tr>
                                
    
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-header">
                        <h1>1st Semester 2nd Quarter Grades</h1>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">Subject Description</th>
                                    <th scope="col">Units</th>
                                    <th scope="col">Grade Marks</th>
                                    <th scope="col">Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ user.GradePost2nd.pr2_2nd }}</td>
                                    <td>{{ user.GradePost2nd.cpar_2nd}}</td>
                                    <td>{{ user.GradePost2nd.pe_2nd}}</td>
                                    <td>{{ user.GradePost2nd.spec_2nd}}</td>
                                    <td>{{ user.GradePost2nd.ucsp_2nd}}</td>
                                    <td>{{ user.GradePost2nd.philo_2nd}}</td>
                                    <td>{{ user.GradePost2nd.eapp_2nd}}</td>
                                    <td>{{ user.GradePost2nd.grade_avg_2ndq}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h1>2nd Semester 1st Quarter Grades</h1>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">PR2</th>
                                    <th scope="col">CPAR</th>
                                    <th scope="col">PE</th>
                                    <th scope="col">SPEC</th>
                                    <th scope="col">UCSP</th>
                                    <th scope="col">PHILO</th>
                                    <th scope="col">EAPP</th>
                                    <th scope="col">AVERAGE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ user.GradePost.pr2_3rd}}</td>
                                    <td>{{ user.GradePost.cpar_3rd}}</td>
                                    <td>{{ user.GradePost.pe_3rd}}</td>
                                    <td>{{ user.GradePost.spec_3rd}}</td>
                                    <td>{{ user.GradePost.ucsp_3rd}}</td>
                                    <td>{{ user.GradePost.philo_3rd}}</td>
                                    <td>{{ user.GradePost.eapp_3rd}}</td>
                                    <td>{{ user.GradePost.grade_avg_3rdq}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h1>2nd Semester 2nd Quarter Grades</h1>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">PR2</th>
                                    <th scope="col">CPAR</th>
                                    <th scope="col">PE</th>
                                    <th scope="col">SPEC</th>
                                    <th scope="col">UCSP</th>
                                    <th scope="col">PHILO</th>
                                    <th scope="col">EAPP</th>
                                    <th scope="col">AVERAGE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ user.GradePost.pr2_4th }}</td>
                                    <td>{{ user.GradePost.cpar_4th}}</td>
                                    <td>{{ user.GradePost.pe_4th}}</td>
                                    <td>{{ user.GradePost.spec_4th}}</td>
                                    <td>{{ user.GradePost.ucsp_4th}}</td>
                                    <td>{{ user.GradePost.philo_4th}}</td>
                                    <td>{{ user.GradePost.eapp_4th}}</td>
                                    <td>{{ user.GradePost.grade_avg_4thq}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    
    
</body>
</html>