<!DOCTYPE html>
<head>
    <title>SJLSHS-Student Registration</title>
    <link rel="stylesheet" href="../CSS/design.css">
</head>
<body class="register-page">
            <div class="row1-nav">
                <nav id="top">
                    <ul>
                        <a><li>SJLSHS</li></a>
                        <a href="home.html"><li>Home</li></a>
                        <a><li>News</li></a>
                        <a><li>Students</li></a>
                        <div class="drpdwn" id="drpdwn-box">
                            <a><li id="drpdwn-elem">Students</li></a>
                            <div class="drpdwn-content">
                                <a href="#"><li>Student Enrollment</li></a>
                                <a href="#"><li>Academic Offerings</li></a>
                                <a href="registration.html"><li>Student Portal</li></a>
                            </div>
                        </div>
                        <a><li>Faculty & Staff</li></a>
                        <a><li>About</li></a>
                    </ul>
                </nav>
            </div>
            <div class="reg-box">
                <div class="reg-title">
                    <h2>SJLSHS REGISTRATION</h2>
                </div>
                <div class="reg-forms">
                    <form action="">
                        <table>
                            <tr>
                                <td><label for="fname">First Name: </label></td>
                                <td ><input type="text" id="fname" name="fname"><br></td>
                                <td><label for="lname">Last Name: </label></td>
                                <td><input type="text" id="lname" name="lname"><br></td>
                            </tr>
                            <tr>
                                <td><label for="lrn">LRN: </label></td>
                                <td colspan="3"><input type="text" id="lrn" name="lrn"><br></td>
                            </tr>
                            <tr>
                                <td><label for="e-mail">E-mail: </label></td>
                                <td><input type="email" id="e-mail" name="e-mail"><br></td>
                                <td><label for="password">Password: </label></td>
                                <td><input type="password" id="password" name="password"><br></td>
                            </tr>
                            
                            <tr>
                                <td></td>
                                <td align="right"><input type="submit" name="register" value="Register"></td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div class="reg-add-info">

                </div>
            </div>
    </div>
</body>
</html>